body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    transition: background 3s ease-out;
    background: linear-gradient(to bottom,
        #fad58b 0%,
        #ef6d7f 20%,
        #121858 40%,
        #030539 100%); /* Sunset gradient at first */
    color: white;
}

a {
    text-decoration: none;
}

strong {
    color: #f29aa5;
}

body.scrolled {
    color: #e0e0e0;
}

body.lightened {
    color: #333;
}

body.lightened .stars {
    opacity: 0; /* Hide stars */
}

body.scrolled .stars {
    opacity: 1;
    transition: opacity 1s ease-out;
  }

header {
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    transition: transform 0.3s ease-in-out;
}

header.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
}


#menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}

/* NAV BAR =========== */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a {
    color: white;
    background-color: #444;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
/* END NAV ========== */

/* HERO =========== */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    text-align: center;
    position: relative;
}

.hero-content img {
    width: 50px;
    height: 50px;
}

.contact-hero {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-hero a {
    margin: 10px;
}
  
.contact-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
  
.contact-button:hover {
    background-color: #666;
}
  
.hero-content {
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#hero-small {
    color: #444;
}
  
/* stars which appear when the user scrolls */
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease-out;
}

/* Round stars */
.stars .round {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    width: 3px; /* Slightly larger round stars */
    height: 3px;
    animation: twinkle 3s infinite alternate;
}

body.no-stars .stars {
    opacity: 0;
}


@keyframes twinkle {
    0% { opacity: 0.1; }
    50% { opacity: 1; }
    100% { opacity: 0.1; }
}

.hover-switch {
    display: inline-block;
    transition: color 0.3s ease-in-out;
}
  
/* Typing anim on hero */
.typing {
    border-right: 2px solid white;
    animation: blink 0.5s step-end infinite;
}
  
@keyframes blink {
    from { border-right-color: white; }
    to { border-right-color: transparent; }
}
/* END HERO ========== */

/* SECTIONS ========== */
section {
    margin: 5%;
    background: transparent;
    color: white;
    transition: background 1s ease-out, color 1s ease-out;
}

section .content {
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

body.scrolled section, body.scrolled footer {
    color: #e0e0e0;
}

body.lightened section, body.lightened footer {
    background: transparent;
    color: #333;
}



/* About */
.about .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.about img {
    padding: 10px;
}

section .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
}

section .image img{
    width: 100%;
    height: auto;
}

.experience-title h3 {
    margin-bottom: 0px;
}

.experience-title p {
    margin-top: 0;
    margin-bottom: 3px;
}

.techstack-list {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    font-size: 14px;
    margin: 4px;
    padding: 3px 5px;
    border-radius: 3px;
}

.skill:hover {
    transform: scale(1.05);

}

/* Experience */
.download-btn {
    background-color: #f46786;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #fad58b;
    color: #444;
}

.download-btn:focus {
    outline: none;
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}
  
.project {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    position: relative;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.project img {
    transition: transform 0.3s;
}

.project-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.project-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    text-decoration: none;
}

.project:hover .project-overlay {
    display: block;
}

/* FOOTER ========== */
footer {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background: #0f021e;
    padding-bottom: 20px;
}

footer * {
    text-align: center;

}

footer small {
    font-size: 10px;
}

footer .contact {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .contact a {
    margin: 10px;
}

footer .contact a img {
    height: 30px;
    width: 30px
}

.scroll-arrow {
    margin-top: 10%;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    animation: hover 2s infinite;
}

.scroll-arrow svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

@keyframes hover {
    0% {transform: translateY(-5px);}
    50% {transform: translateY(5px);}
    100% {transform: translateY(-5px);}
}
