body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    transition: background 3s ease-out;
    background: linear-gradient(to bottom,
        #f0c97c 0%,
        #d06f7c 25%,
        #663998 45%,
        #231c4c 100%); /* Sunset gradient at first */
    color: white;
}

body.scrolled {
    color: #e0e0e0;
}

body.lightened {
    color: #333;
}

body.lightened .stars {
    opacity: 0; /* Hide stars */
}

body.scrolled .stars {
    opacity: 1;
    transition: opacity 1s ease-out;
  }

header {
    position: fixed;
    width: 100%;
    color: white;
    transition: transform 0.3s ease-in-out;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}

/* NAV BAR =========== */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
}

nav ul {

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a {
    color: white;
    background-color: #444;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
/* END NAV ========== */

/* HERO =========== */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    text-align: center;
    position: relative;
}

.hero-content img {
    width: 50px;
    height: 50px;
}

.contact-hero {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-hero a {
    margin: 10px;
}
  
.contact-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
  
.contact-button:hover {
    background-color: #666;
}
  
.hero-content {
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#hero-small {
    color: #444;
}
  
/* stars which appear when the user scrolls */
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease-out;
}

/* Round stars */
.stars .round {
    position: absolute;
    background-color: #a7a7a7;
    border-radius: 100%;
    width: 3px; /* Slightly larger round stars */
    height: 3px;
    animation: twinkle 3s infinite alternate;
}

body.no-stars .stars {
    opacity: 0;
}


@keyframes twinkle {
    0% { opacity: 0.1; }
    50% { opacity: 1; }
    100% { opacity: 0.1; }
}

.hover-switch {
    display: inline-block;
    transition: color 0.3s ease-in-out;
}
  
/* Typing anim on hero */
.typing {
    border-right: 2px solid white;
    animation: blink 0.5s step-end infinite;
}
  
@keyframes blink {
    from { border-right-color: white; }
    to { border-right-color: transparent; }
}
/* END HERO ========== */

/* SECTIONS ========== */
section {
    margin: 5%;
    background: transparent;
    color: white;
    transition: background 1s ease-out, color 1s ease-out;
}

section .content {
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

body.scrolled section, body.scrolled footer {
    color: #e0e0e0;
}

body.lightened section, body.lightened footer {
    background: transparent;
    color: #333;
}

/* About */
.about .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.about img {
    height: auto;
    width: 40%;
    padding: 10px;
}

section .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
}

section .image img{
    width: 100%;
    height: auto;
}

.experience-title h3 {
    margin-bottom: 0px;
}

.experience-title p {
    margin-top: 0;
    margin-bottom: 3px;
}

.techstack-list {
    display: flex;
    justify-content: space-around;
}

/* Experience */
.download-btn {
    background-color: #f46786;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #f0c97c;
}

.download-btn:focus {
    outline: none;
}

/* END SECTIONS ========== */

footer {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background: #0f021e;
}

footer * {
    text-align: center;
}


/* CAROUSEL DISPLAY ========== */
.projects {
    display: grid;
    justify-content: center;
    gap: 20px;
}
  
.project {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 8px;
    min-width: 150px;
}

.project-github-link img {
   height: auto;
   width: 30px;
   margin-right: 10px;
}

.project-github-link {
    display: flex;
    align-items: center;
    height: 40px;
    color: white;
    text-decoration: none;
}

/* END CAROUSEL ========== */

/* Media Screen Resizing ========== */
@media screen and (max-width: 768px) {
    header {
      transform: translateX(-100%);
      width: 100%;
    }
  
    header.open {
      transform: translateX(0);
    }
  
    #menu-toggle {
      display: block;
    }
  
    nav ul {
      flex-direction: column;
      display: none;
    }
  
    nav ul.open {
      display: flex;
    }
  
    .hero {
      margin-left: 0;
    }
  }